footer.footer.text-white
	.footer__top.mt-3.mt-sm-5.mb-5
		.container
			.row.flex-column.flex-lg-row.no-gutters
				.col.mb-5.mb-lg-0.mr-lg-5
					h3.footer__title.mt-4.mb-5.text-uppercase Контакты
					.footer__adress.pt-3
						p.footer__text.mb-3 Коммуникационное агентство
						p.footer__text.mb-5 344000, Россия, г. Ростов-на-Дону ул. Мира, д. 12 Бизнес–центр «Рост», оф. 104
						.row.flex-column.flex-lg-row
							ul.col
								li.footer__item
									a.footer__item-link.text-white(href="tel:++78613001152") +7 (861) 300-11-52
								li.footer__item
									a.footer__item-link.text-white(href="tel:++78613001152") +7 (861) 300-11-52
								li.footer__item
									a.footer__item-link.text-white(href="tel:++78613001152") +7 (861) 300-11-52
							.col
								p.footer__sosial.mb-0 Email:
								a(href="mailto:").footer__sosial.d-block info@example.com
								a(href="#").footer__sosial.d-block Facebook.com/exampleagency
				.col.ml-lg-5
					include ../form/index
	.footer__bottom.pt-3.pb-3.border-top.border-dark
		.container
			.row.justify-content-center
				small 
					p.copy.mb-0 © 2021 
						span.copy__develop.text-primary developed by
							a.copy__link.ml-2(href="https://sv-59.ru/" target="blank") S.Vedernikov
