footer.footer
	.footer__top.mt-3.mt-sm-5.mb-5
		.container
			.row.flex-column.flex-lg-row.no-gutters
				.col.mb-5.mb-lg-0.mr-lg-5
					h3.footer__title.mt-2.mt-xl-4.mb-2.mb-xl-5.text-uppercase.text-white Контакты
					.footer__adress.pt-xl-3
						p.footer__text.mb-3.text-white Коммуникационное агентство
						p.footer__text.mb-xl-5.text-white 344000, Россия, г. Ростов-на-Дону ул. Мира, д. 12 Бизнес–центр «Рост», оф. 104
						.row.flex-column.flex-xl-row
							ul.footer__list.col.mb-xl-3
								li.footer__item
									a.footer__item-link.text-white(href="tel:++78613001152") +7 (861) 300-11-52
								li.footer__item
									a.footer__item-link.text-white(href="tel:++78613001152") +7 (861) 300-11-52
								li.footer__item
									a.footer__item-link.text-white(href="tel:++78613001152") +7 (861) 300-11-52
							.col.pt-2.pb-2
								.footer__social
									p.mb-0 Email:
									a(href="mailto:").d-block.mb-3 info@example.com
									a(href="#").d-block Facebook.com/exampleagency
				.col.ml-lg-5
					include ../form/index
	.footer__bottom.pt-3.pb-3.border-top.border-dark
		.container
			.row.justify-content-center
				small 
					p.copy.mb-0.text-white © 2021 
						span.copy__develop.text-primary developed by
							a.copy__link.ml-2(href="https://sv-59.ru/" target="blank") S.Vedernikov
